@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,700;1,100&display=swap");
body {
  font-family: "Montserrat", sans-serif;
}

a {
  color: #222;
  text-decoration: none;
}

a:focus {
  color: #222;
}

header {
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-weight: 100;
  font-size: 3rem;
  width: 100%;
  padding: 3rem 0;
  background-image: url(../img/bg1.jpg);
  background-size: cover;
  background-position: 0 40%;
  background-color: #0004;
  background-blend-mode: saturation;
}

header p {
  font-size: 1rem;
  color: white;
  padding: 0.5rem;
  font-weight: 400;
  border: 2px solid #857544;
  margin: 0 1rem;
}

header h1 a {
  font-weight: 100;
  font-size: 3rem;
  text-decoration: underline;
  -webkit-text-decoration-color: #857544;
          text-decoration-color: #857544;
  text-decoration-thickness: 1px;
}

header a {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: white;
}

header a:hover {
  color: white;
  text-shadow: 0 0 5px white;
}

header .login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  position: absolute;
  top: 0;
  right: 0;
}

header .login a {
  color: #fff;
  position: relative;
}

header .login a:hover {
  color: #fff;
}

header .login a:after {
  width: 0%;
  position: absolute;
  height: 1px;
  content: "";
  background-color: #fff;
  bottom: 0;
  left: 0;
  bottom: 20%;
  left: 5%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

header .login a:hover::after {
  width: 90%;
}

header .login a {
  color: #fff;
  font-size: 1rem;
  padding: 0.5rem;
}

header .login a:not(:last-child)::before {
  position: absolute;
  top: 10%;
  right: 0;
  height: 80%;
  width: 1px;
  background-color: #857544;
  content: "";
}

h1,
nav {
  width: 100%;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.navbar {
  z-index: 999;
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.5rem;
  background-color: white;
}

.navbar::after {
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 1px;
  background-color: #857544;
  content: "";
}

.navbar .navbar-nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navbar a {
  color: #222;
  position: relative;
}

.navbar a:hover {
  color: #222;
}

.navbar a:after {
  width: 0%;
  position: absolute;
  height: 1px;
  content: "";
  background-color: #222;
  bottom: 0;
  left: 0;
  bottom: 20%;
  left: 5%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.navbar a:hover::after {
  width: 90%;
}

.navbar-nav {
  text-align: center;
}

.navbar-toggler:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.burgerMenu {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.burgerMenu .burgerMenu__bars {
  width: 90%;
  height: 2px;
  background-color: #222;
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.burgerMenu .burgerMenu__bars::before {
  -webkit-transform: translate(0, 0.5rem);
          transform: translate(0, 0.5rem);
  content: "";
  width: 100%;
  position: absolute;
  height: 2px;
  background-color: #222;
  left: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.burgerMenu .burgerMenu__bars::after {
  -webkit-transform: translate(0, -0.5rem);
          transform: translate(0, -0.5rem);
  width: 100%;
  content: "";
  position: absolute;
  height: 2px;
  background-color: #222;
  left: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.burgerMenu.open .burgerMenu__bars {
  background-color: transparent;
}

.burgerMenu.open .burgerMenu__bars::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.burgerMenu.open .burgerMenu__bars::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.seccionPrincipal {
  padding: 4rem 0 2rem 0;
}

.seccionPrincipal h2 {
  color: #857544;
  text-align: center;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.seccionPrincipal h2::after {
  content: "";
  position: absolute;
  width: 50%;
  height: 1px;
  background-color: #857544;
  bottom: 0;
}

.formInput {
  margin: 0 1rem;
}

.formInput form button {
  width: 100%;
  border-radius: 0 0 5px 5px;
  position: relative;
  z-index: 1;
  border: 0;
  background-color: #857544;
  color: white;
}

.formInput form button::after {
  border-radius: 0 0 5px 5px;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #222;
  z-index: -1;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.formInput form button:hover {
  color: white;
  background-color: #857544;
}

.formInput form button:hover::after {
  width: 100%;
}

.formInput form button:focus {
  background-color: #857544;
  color: white;
}

.formInput form button:focus::after {
  width: 100%;
}

.formInput form .form-group {
  position: relative;
}

.formInput form .form-group input,
.formInput form .form-group select {
  width: 90%;
  margin: auto;
  border: 0;
  border-bottom: 1px solid #222;
  border-radius: 0;
  position: relative;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.formInput form .form-group input:focus,
.formInput form .form-group select:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-color: #a43b50;
  border-width: 1px;
  border-bottom-style: solid;
}

.vinoTitulo {
  text-align: center;
  color: #222;
  margin: 3rem 0;
}

.deleteBodega {
  width: 100%;
  text-align: center;
  margin: 0 auto 4rem auto;
}

.deleteBodega a {
  padding: 0.5rem;
  border-radius: 5px;
  background-color: #a43b50;
  color: white;
}

table {
  margin: 4rem auto;
  width: 100%;
}

table th {
  text-align: center;
}

table td {
  vertical-align: middle;
  text-align: center;
}

table td img {
  height: 8rem;
  width: 4rem;
  -o-object-fit: contain;
     object-fit: contain;
}

table tr td:first-child {
  font-weight: 600;
}

table tr td:first-child a {
  color: #857544;
}

table tr td:first-child a:hover {
  -webkit-filter: brightness(1.2);
          filter: brightness(1.2);
}

.vinoContenedor {
  margin: 3rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.vinoContenedor .detallesVino {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 50%;
  list-style-type: none;
  text-align: center;
}

.vinoContenedor .detallesVino :first-child {
  border-bottom: 1px solid #857544;
}

.vinoContenedor .vinoImagen {
  border: 1px solid #857544;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
  height: 50vh;
}

.vinoContenedor .vinoImagen img {
  -o-object-fit: contain;
     object-fit: contain;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: white;
  background-color: #222;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 100;
  font-size: 0.8rem;
  padding: 1rem;
  border-top: 2px solid #857544;
}

footer .contacto,
footer .media {
  width: 50%;
  padding: 1rem;
}

footer .media {
  text-align: center;
}

footer .media .mediaIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 2rem;
}

footer .media .mediaIcons i {
  padding: 0px 0.5rem;
  position: relative;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

footer .media .mediaIcons i:not(:last-child)::after {
  position: absolute;
  top: 10%;
  right: 0;
  height: 80%;
  width: 1px;
  background-color: #857544;
  content: "";
}

footer .media .mediaIcons i:hover {
  color: #857544;
  text-shadow: 0 0 1px #857544;
}

footer .disclaimer {
  width: 100%;
  text-align: center;
}

.loginTitle {
  width: 100%;
  text-align: center;
  margin: 2rem auto;
}

.container {
  border-radius: 5px;
  max-width: 90%;
  margin: 2rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0 0 5px 0px #222;
          box-shadow: 0 0 5px 0px #222;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 2rem;
  width: fit-content;
}

.container .logInLayout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .logInLayout form input {
  width: 100%;
  margin: 0.6rem auto;
}

.container .logInLayout form .btn_login {
  background-color: #857544;
  border: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.container .logInLayout form .btn_login:hover {
  background-color: #857544;
  -webkit-filter: brightness(1.5);
          filter: brightness(1.5);
}

.alert-danger {
  text-align: center;
  width: 100%;
}

#app {
  margin: 2rem 2rem;
}

#app h2 {
  margin: 2rem 2rem;
}

#app #sortButtons {
  margin: 2rem 2rem;
}

#app #sortButtons input {
  border: 0;
  background-color: white;
  font-size: 0.8rem;
  color: #857544;
}

#app .botonEliminar {
  background-color: white;
  border: 0;
  font-size: 0.8rem;
  color: red;
  position: absolute;
  right: 0px;
  top: 0.5rem;
}

#app .listComments .comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 0.9rem;
}

#app .listComments .comment .fecha {
  color: #444;
  font-size: 0.8rem;
  width: 100%;
  text-align: end;
}

#app .listComments .comment .comentarioTexto {
  width: 100%;
  padding: 2rem;
}

#app .listComments .comment .usuario {
  font-size: 1.1rem;
  border-bottom: 1px solid #222;
}

#app .listComments .comment .usuario i {
  color: #857544;
}

#app #filtrarPuntuacion {
  margin: 2rem 0;
  text-align: right;
}

#app #filtrarPuntuacion #mostrarTodos,
#app #filtrarPuntuacion i {
  cursor: pointer;
}

.formBuscar {
  position: relative;
  margin-bottom: 7rem;
}

.formBuscar .botonBuscar {
  left: 50%;
  width: 60%;
  position: absolute;
  -webkit-transform: translate(-50%, 200%);
          transform: translate(-50%, 200%);
  bottom: 0%;
  border-radius: 0px 0px 5px 5px;
  padding: 0.2rem;
}

.homeTitle {
  margin-top: 4rem;
  text-align: center;
}

.comentar {
  margin: 2rem;
}

#dataVino {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 2rem;
}

#dataVino textarea {
  width: 100%;
  margin: 1rem 0;
}

#dataVino button {
  background-color: #a43b50;
  color: white;
  border: 0;
  border-radius: 5px;
  padding: 0.8rem;
}

#dataVino .puntuacion {
  background: -webkit-gradient(linear, left top, right top, color-stop(100%, #a4913b), to(#a3a3a3));
  background: linear-gradient(90deg, #a4913b 100%, #a3a3a3 100%);
  background-clip: text !important;
  -webkit-background-clip: text !important;
  color: transparent;
  font-size: 1.5rem;
}

#dataVino .puntuacion input {
  display: none;
}

#dataVino .puntuacion :hover {
  text-shadow: 0 0 5px gold;
}

@media only screen and (min-width: 900px) {
  .formInput form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
  }
  .formInput form button {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    border-radius: 0 5px 5px 0;
  }
  .formInput form button::after {
    border-radius: 0 5px 5px 0;
  }
  .formInput form .form-group {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */